In [108]:
import pandas as pd
import numpy as np

Estrutura curricular

In [156]:
df_curriculo = pd.read_csv('../data_science/curriculo-componente-graduacao.csv', sep=';')
df_curriculo = df_curriculo[df_curriculo['semestre_oferta'] != 0]
df_curriculo = df_curriculo[df_curriculo['tipo_vinculo_componente'] == 'OBRIGATÓRIO']

In [157]:
df_curriculo.columns

Index(['id_curriculo_componente', 'id_curriculo', 'id_componente_curricular',
       'semestre_oferta', 'tipo_vinculo_componente', 'nivel_ensino'],
      dtype='object')

In [158]:
df_curriculo.head()

,id_curriculo_componente,id_curriculo,id_componente_curricular,semestre_oferta,tipo_vinculo_componente,nivel_ensino
2,19001074,18999000,25603,1,OBRIGATÓRIO,GRADUAÇÃO
5,13472483,8601560,26589,3,OBRIGATÓRIO,GRADUAÇÃO
6,135858,100513,24485,3,OBRIGATÓRIO,GRADUAÇÃO
7,146555,9051720,2041610,5,OBRIGATÓRIO,GRADUAÇÃO
8,121924,100478,22237,2,OBRIGATÓRIO,GRADUAÇÃO

In [159]:
series_idcomponentecurricular = df_curriculo['id_componente_curricular'].unique()

df_curriculoSelec = pd.DataFrame()

for l in series_idcomponentecurricular:
    linha = df_curriculo[ df_curriculo['id_componente_curricular'] == l]
    linhadf = df_curriculo[df_curriculo['id_curriculo_componente'] == linha.id_curriculo_componente.max()]
    
    df_curriculoSelec = pd.concat([df_curriculoSelec, linhadf])

In [168]:
colunas_2 = ['id_componente_curricular', 'semestre_oferta']

df_curriculoSelec = df_curriculoSelec[colunas_2]

Tabelas dos componentes curriculares

In [169]:
df_materias = pd.read_csv('../data_science/componentes-curriculares-presenciais-ok.csv')

In [170]:
df_materias = df_materias[['id_componente', 'tipo_componente', 'codigo', 'nivel',
       'nome', 'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente']].drop_duplicates()

In [171]:
df_materiasSemestre = pd.merge(df_materias, df_curriculoSelec, left_on='id_componente', right_on='id_componente_curricular').drop_duplicates()

In [172]:
unidade = 'ESCOLA DE CIÊNCIAS E TECNOLOGIA'

df_materiasSemestre = df_materiasSemestre[(df_materiasSemestre['unidade_responsavel'] == unidade) & 
                                          (df_materiasSemestre['ano_programa'] >= 2014) & 
                                          (df_materiasSemestre['semestre_oferta']>0) & 
                                          (df_materiasSemestre['semestre_oferta']<=4)]

In [173]:
colunas = ['id_componente','codigo','nome','ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'qtd_unidades', 'equivalencia', 'pre_requisito', 'competencias_habilidades',
       'ano_programa', 'periodo_programa', 'semestre_oferta']

In [174]:
df_materiasSemestre = df_materiasSemestre[colunas]

In [175]:
df_materiasSemestre.to_csv('teste.csv')